.seccion_texto_wrapper {
  position: relative;
  width: 100%;
}

.container_descripcion_servi {
  height: auto;
  width: 80%;
  position: relative;
}

.container_titulo_mas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitulo_servi {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

.boton_mas {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
}

.linea_servi {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #219EBC;
}

.descripcion2_servi {
  font-family: 'DM Sans', serif;
  font-size: 15px;
  color: #243A76;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto_container {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;
}

.texto_contenido {
  padding-top: 5px;
  opacity: 1;
}
